.Calendar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 50px;
  border: 3px solid rgb(235, 235, 235);
  height: 80px;

  span {
    margin: auto 10px auto 30px;
    color: grey;
    font-weight: bold;
    font-size: 14px;
  }

  .buttonContainer {
    border: 1px solid lightgray;
    margin: 10px;

    .optionBtn {
      border: none;
      border-right: 1px solid lightgrey;
      background-color: white;
      width: 55px;
      height: 30px;
      color: grey;

      &:focus {
        cursor: pointer;
        outline: none;
      }

      &:hover {
        background-color: lightgrey;
        color: white;
      }
    }
    button:last-child {
      border-right: none;
    }
    .clickedBtn {
      border: none;
      border-right: 1px solid lightgrey;
      background-color: white;
      width: 55px;
      height: 30px;
      color: grey;
    }
  }

  .calendarContainer {
    display: flex;
    align-items: center;

    .calendarConnect {
      margin: 5px;
      width: 10px;
      font-weight: normal;
    }

    .calendarWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      border: 1px solid lightgrey;

      i {
        margin-right: 8px;
        color: grey;
        font-size: 20px;
      }
    }
  }

  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 20px;
    background-color: black;
    width: 100px;
    height: 32px;

    &:hover {
      cursor: pointer;
    }

    .searchHistory {
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 12px;

      &:focus {
        cursor: pointer;
        outline: none;
      }
    }

    i {
      margin: 2px;
      padding-bottom: 2px;
      color: lightgray;
    }
  }
}
