tbody {
  position: relative;
  margin: 10px;
  border-bottom: 2px solid black;
  h4 {
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
  }
}
.totalPrice {
  height: 30px;
  position: absolute;
  right: 210px;
  // display: flex;
  // align-items: flex-end;

  p {
    span {
      margin-left: 10px;
      font-size: 25px;
    }
  }
}
