.orderItemContainer {
  position: relative;
  margin: 10px;
  border-bottom: 2px solid black;
  .orderDate {
    margin: 10px auto;
    height: 30px;
    text-align: center;
    font-size: 15px;
    td {
      vertical-align: middle;
    }
  }
}
.totalPrice {
  height: 30px;
  position: absolute;
  right: 210px;

  p {
    span {
      margin-left: 10px;
      font-size: 25px;
    }
  }
}
