.deliveryInfo {
  tr {
    border-bottom: 1px solid lightgrey;
    height: 60px;
    th {
      background-color: #f7f7f7;
      vertical-align: middle;
      width: 200px;
      text-align: left;
      padding-left: 20px;
      font-size: 13px;
      font-weight: bold;
    }
    td {
      vertical-align: middle;

      input {
        margin-left: 20px;
        border: 1px solid lightgray;
        width: 250px;
      }
    }

    .notRequired {
      list-style-type: none;

      li {
        padding-left: 18px;
      }
    }

    .tdInDeliveryInfo {
      vertical-align: middle;
      width: 1000px;

      .deliveryInfoInput {
        border: 1px solid lightgrey;
        padding: 5px;
        height: 20px;
        width: 220px;

        .inputDeliveryInfo {
          border: 1px solid lightgrey;
        }

        &:focus {
          outline: none;
        }
      }

      select {
        margin-left: 10px;
        padding: 5px;
        width: 130px;
        height: 32px;
        border: 1px solid lightgrey;
      }

      p {
        color: gray;
        font-size: 12px;

        strong {
          margin: 0px 2px;
          color: black;
          font-size: 20px;
          font-weight: bold;
        }
      }
      button {
        background-color: white;
        border: 1px solid lightgray;
        width: 100px;
        height: 32px;
        margin: auto 20px;
        outline-style: none;

        &:hover {
          cursor: pointer;
          border: none;
          background-color: var(--color-green);
          color: white;
        }
        *:focus {
          border: none;
          outline: none;
        }
      }
    }

    .addressLongInput {
      margin-right: 5px;
      width: 400px;
      border: 1px solid lightgrey;
    }

    .addressShortInput {
      width: 150px;
      border: 1px solid lightgrey;
    }
  }
}
