@import '../../../../Styles/common.scss';
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

.CartPrice {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 130px;
  margin-top: 100px;
  border: 2px solid lightgrey;

  .productPrice,
  .deliveryFee,
  .totalPricetoPayment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 20px;

    p {
      margin: 3px;
      font-size: 18px;
    }

    strong {
      margin: 3px;
      font-size: 20px;
      font-weight: bold;
    }

    .totalColor {
      color: var(--color-green);
    }
  }

  i {
    font-size: 20px;
  }
}
