@import '../../../../Styles/common.scss';

.CartItem {
  height: 100px;

  td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .checkbox {
    width: 10px;

    input {
      width: 30px;
    }
  }

  .productInfo {
    width: 500px;
    display: flex;
    align-items: center;

    img {
      margin: 0 10px;
      width: 40px;
    }

    p {
      margin-left: 10px;
      font-weight: bold;
      font-size: 13px;
    }
  }

  .productQty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 5px;
      border: 1px solid rgb(215, 214, 214);
      background-color: #f8f8f8;
      padding: 5px 12px;
      outline: none;

      &:hover {
        background-color: rgba(228, 226, 226, 0.906);
        cursor: pointer;
      }
    }
  }

  .productPrice {
    width: 100px;
  }
  .deliveryFee {
    border-left: 1px solid rgb(215, 214, 214);
    width: 100px;

    p {
      margin-bottom: 4px;
      color: gray;
      font-weight: normal;
    }
  }
}
