@import '../../../../Styles/common.scss';
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

.CartItem {
  height: 100px;

  .checkboxInCart {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 10px;

    .checkBoxinCartItem {
      margin: 0 auto;
      width: 15px;
      background-color: red;
    }
  }
  .productInfoContainer {
    vertical-align: middle;
    .productInfo {
      width: 500px;
      display: flex;
      align-items: center;
      padding-left: 20px;

      img {
        margin: 0 10px;
        width: 40px;
      }

      p {
        margin-left: 10px;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
  .productQtyContainer {
    vertical-align: middle;
    .productQty {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin: 0 20px;
        padding: 5px;
        background-color: lightgrey;
        border-radius: 10px;
        color: white;
        font-size: 10px;

        &:hover {
          background-color: var(--color-green);
          cursor: pointer;
        }
      }

      p {
        font-size: 15px;
      }
    }
  }

  .productPriceinCartItem {
    vertical-align: middle;
    text-align: center;
    width: 200px;
  }
  .deliveryFee {
    border-left: 1px solid rgb(215, 214, 214);
    width: 100px;

    p {
      margin-bottom: 4px;
      color: gray;
      font-weight: normal;
    }
  }
}
