@import '../../../../../../Styles/common.scss';
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.OrderListContainer {
  h3 {
    margin: 12px 0px;
    font-size: 15px;
  }
  .orderListTable {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(211, 211, 211, 0.495);
    font-size: 13px;
    font-weight: bold;

    .headRow {
      height: 40px;
      background-color: #f7f7f7;
      border-bottom: 1px solid rgba(211, 211, 211, 0.495);

      .dateAndNumber,
      .nameAndOption,
      .price,
      .qty,
      .orderStatus,
      .confirmAndReview {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 13px;
        border-bottom: 1px solid rgba(211, 211, 211, 0.495);
      }

      .dateAndNumber {
        width: 150px;
      }

      .nameAndOption {
        width: 350px;
      }
      .price {
        width: 75px;
      }
      .qty {
        width: 75px;
      }
      .orderStatus {
        width: 100px;
      }

      .confirmAndReview {
        width: 100px;
      }
    }
  }
}
