@import '../../Styles/common.scss';

footer {
  @extend %flexCenter;
  justify-content: center;
  width: 100%;
  min-width: 900px;
  height: 250px;
  margin: 0 auto;
  background-color: #f6f6f6;
  font-family: 'Noto Sans KR', sans-serif;

  img {
    width: 100px;
    margin: 50px;
  }

  .textContainer {
    .textMenu {
      margin: 50px 0;

      a {
        margin-right: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: var(--font-black);
      }
    }
    .textInfo {
      p {
        margin: 6px auto;
        font-size: 12px;
      }
    }
  }
}
