.OrderListItem {
  height: 50px;
  font-weight: normal;
  .dateAndNumber,
  .nameAndOption,
  .price,
  .qty,
  .orderStatus,
  .confirmAndReview {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid rgba(211, 211, 211, 0.495);
    border-bottom: 1px solid rgba(211, 211, 211, 0.495);
  }

  .confirmAndReview {
    .confirmBtn {
      border: 1px solid black;
      border-radius: 8px;
      height: 25px;
      background-color: lightgray;
      color: black;
    }
  }
}
